* {
  padding: 0;
  margin: 0;
}
body {
  /* background-image: url("https://images.unsplash.com/photo-1623645932244-02c0160eac1e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("/images/cd.jpg");
}

/* weather data showing div (glassmorphims effect) starts*/

.data-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}
.data-div .inner-data-div {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 20px;
  padding: 0px 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.data-div .inner-data-div .row {
  padding: 20px;
  /* text-align: center; */
  display: flex;
}

.data-div .inner-data-div {
  transition-timing-function: ease-in-out;
  transition-duration: 0.7s;
}

/* .data-div .inner-data-div:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
} */

/* weather data showing div (glassmorphims effect) ends*/

/*flying bird CSS starts*/

.sunny-weather .flying-bird .bird {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg");
  filter: invert(34%) sepia(55%) saturate(427%) hue-rotate(141deg)
    brightness(93%) contrast(91%);
  background-size: auto 100%;
  width: 80px;
  height: 125px;
  will-change: background-position;

  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
}

.sunny-weather .flying-bird .bird-one {
  animation-duration: 1s;
  animation-delay: -0.5s;
}

.sunny-weather .flying-bird .bird-two {
  animation-duration: 0.8;
  animation-delay: -0.75.s;
}

.sunny-weather .flying-bird .bird-three {
  animation-duration: 1.25s;
  animation-delay: -0.25s;
}

.sunny-weather .flying-bird .bird-four {
  animation-duration: 1.1s;
  animation-delay: -0.5s;
}

.sunny-weather .flying-bird .bird-five {
  animation-duration: 1.4s;
  animation-delay: -0.8s;
}

.sunny-weather .flying-bird .bird-six {
  animation-duration: 1.5s;
  animation-delay: -9.5s;
}

.sunny-weather .flying-bird .bird-container {
  position: absolute;

  left: -3%;
  transform: scale(0) translateX(-10vw);
  will-change: transform;

  animation-name: fly-right-one;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.sunny-weather .flying-bird .bird-container-one {
  animation-duration: 15s;
  animation-delay: 0;
  top: 10%;
}

.sunny-weather .flying-bird .bird-container-two {
  animation-duration: 16s;
  animation-delay: 1s;
  top: 15%;
}

.sunny-weather .flying-bird .bird-container-three {
  animation-duration: 15s;
  animation-delay: 6.5s;
  top: 15%;
}

.sunny-weather .flying-bird .bird-container-four {
  animation-duration: 15s;
  animation-delay: 10.25s;
  top: 20%;
}

.sunny-weather .flying-bird .bird-container-five {
  animation-duration: 15.3s;

  animation-delay: 9.2s;
  top: 18%;
}

.sunny-weather .flying-bird .bird-container-six {
  animation-duration: 15s;
  animation-delay: 11.25s;
  top: 25%;
}
@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}

@keyframes fly-right-one {
  0% {
    transform: scale(0.3) translateX(-10vw);
  }

  10% {
    transform: translateY(2vh) translateX(10vw) scale(0.4);
  }

  20% {
    transform: translateY(0vh) translateX(30vw) scale(0.5);
  }

  30% {
    transform: translateY(4vh) translateX(50vw) scale(0.6);
  }

  40% {
    transform: translateY(2vh) translateX(70vw) scale(0.6);
  }

  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.6);
  }

  60% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }

  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
}

@keyframes fly-right-two {
  0% {
    transform: translateY(-2vh) translateX(-10vw) scale(0.5);
  }

  10% {
    transform: translateY(0vh) translateX(10vw) scale(0.4);
  }

  20% {
    transform: translateY(-4vh) translateX(30vw) scale(0.6);
  }

  30% {
    transform: translateY(1vh) translateX(50vw) scale(0.45);
  }

  40% {
    transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
  }

  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.45);
  }

  51% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }

  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
}

/* .sunny-weather .flying-bird */

/*weather data mainpulation css starts*/
.current-Weather input {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border: none;
  color: white;
}
.current-Weather input::placeholder {
  color: white;
}
.current-Weather input:focus {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.current-Weather .weather-info {
  color: white;
}

.current-Weather .today-forecast {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  color: white;
}

.Air-conditions {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  color: white;
}

.row .today-forecast {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.cards .card {
  width: 100px;
  height: 130px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  /* background-color: white; */
  text-align: center;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forecast-card .card-icon {
  width: 50%;
  margin: 0 auto;
}
.forecast-card .day-temp {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.week-forecast {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  color: white;
  height: 644px;
}

.week-forecast-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*weather data mainpulation css ends*/
