* {
  margin: 0;
  padding: 0;
}

body {
  /* background-image: url("https://images.unsplash.com/photo-1530743373890-f3c506b0b5b1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1870&q=80"); */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-image: url("https://images.unsplash.com/photo-1623645932244-02c0160eac1e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80");
}

:root {
  --thunder-duration: 10s;
  --thunder-delay: 5s;
}

hr {
  background-color: white;
}
/* weather data showing div (glassmorphims effect) starts*/

.data-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 1200px; */
  flex-wrap: wrap;
  z-index: 1;
}
.data-div .inner-data-div {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.data-div .inner-data-div .content {
  padding: 20px;
  text-align: center;
}

.data-div .inner-data-div {
  transition-timing-function: ease-in-out;
  transition-duration: 0.7s;
}

.data-div .inner-data-div:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

/* weather data showing div (glassmorphims effect) starts*/

/* hr.thunder {
    border: unset;
    position: absolute;
    width: 100vw;
    height: 100vh;
    animation-name: thunder;
    animation-duration: var(--thunder-duration);
    animation-timing-function: linear;
    animation-delay: var(--thunder-delay);
    animation-iteration-count: infinite;
  } */

hr:not(.thunder) {
  width: 50px;
  border-color: transparent;
  border-right-color: rgb(255, 255, 255);
  border-right-width: 50px;
  position: absolute;
  bottom: 100%;
  transform-origin: 100% 50%;
  animation-name: rain;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rain {
  from {
    transform: rotate(105deg) translateX(0);
  }
  to {
    transform: rotate(105deg) translateX(calc(100vh + 20px));
  }
}

@keyframes thunder {
  0% {
    background-color: transparent;
  }
  1% {
    background-color: white;
  }
  2% {
    background-color: rgb(255, 255, 255);
  }
  8% {
    background-color: transparent;
  }
}
